[data-testid="stAppViewContainer"] {
    background-image: url("https://raw.githubusercontent.com/dileepNaiduOne/BUDGET-LifeInsurancePredictionApp/refs/heads/main/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}