[data-testid="stAppViewContainer"] {
    background-image: url("https://raw.githubusercontent.com/dileepNaiduOne/MakeMeSmart/refs/heads/main/img/MMS-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}